<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>{{authorName}} page</title>
</head>
<body>

{{> header}}

<h1>Hello</h1>
<p>This page was sent with HBS partial </p>
<p>The example of input to a function: {{screamFunc headerText}} </p>

{{> links}}

<footer>
    <p>Date passed by hbs object: {{currentDate}}</p>
    <p>Date passed by hbs registered helper function: {{getCurrentDate}} </p>
</footer>

</body>
</html>