<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>{{authorName}} page</title>
</head>
<body>
<h1>Hello</h1>
<p>This page was sent through server</p>

<footer>
    <p>Today is {{currentDate}}</p>
</footer>

</body>
</html>